<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CarTinder</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; 
             font-family: Arial, Helvetica, sans-serif;">
  <div style="border: 1px solid black; border-radius: 7px; box-shadow: 0 0 1em black;
              padding: 15px; width: 360px; height: 100%;">
    <div style="text-align: justify;">
      <p>Olá <strong th:text="${data.nome}"></strong>,</p>
      <p>desde já agradecemos seu contato,caso seja uma duvida entraremos em contato o mais rapido possivel para melhor esclarecimento.</p>
      <p>Caso seja uma sugestão agradecemos por sua participação para o melhoramento da nossa plataforma,
      sua ajuda é o que nos torna melhores, nosso MUITO OBRIGADO!!!</p>
    </div>
    <div>
      <p>Atenciosamente:</p>
      <p style="font-weight: bold;">Equipe CarTinder</p>
    </div>
 </div>
 </body>
</html>